.App {
  text-align: center;
  height: 100vh;
}

.App-header {
  background-color: #222;
  min-height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

[class$="page-container"] {
  background-color: #eee;
  margin: auto;
  width: 70%;
}

.Ghost-container {
  overflow-x: scroll;
  text-align: center;
  white-space: nowrap;
  background: #eee;
  height: 60px;
}

.Ghost-container > * {
  display: inline-block;
}

.Simple-page-container {
  border-radius: 8px;
  overflow: hidden;
}

.scrollable {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.Simple-row {
  display: flex;
  flex: auto;
}

.Simple-row > * {
  flex-grow: 1;
  flex-shrink: 0;
}

.Simple-row > * + * {
  border-left: 1px dashed #ccc;
}

.Simple-cell {
  border: 1px solid transparent;
  max-width: 60px;
  min-width: 40px;
}

.Simple-cell.dragged {
  border: 1px dashed #ccc;
}

.Simple-cell-ghost {
  border: 1px dashed #ccc;
}

.Cell-simple {
  background-color: rgba(100, 100, 100, 0.1);
  height: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: move;
}

.Handle {
  cursor: move;
}

.Cell-simple .Handle {
  margin-right: 5px;
  padding: 5px;
}

.Cell {
  position: relative;
  display: inline-block;
  padding: 10px;
}

.Cell.hovered:before {
  content: "";
  display: block;
  width: 3px;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
}

.Simple-bin {
  align-items: center;
  border-radius: 4px;
  display: grid;
  margin: 1em;
  padding: 1em;
  min-height: 50px;
}

.Bins-container {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  padding-top: 10px;
  margin: 0 -5px;
}

.Bins-container .Simple-bin {
  background-color: #eee;
  flex: 1;
  margin: 5px;
}

menu {
  padding: 0;
}

menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

menu a:hover {
  text-decoration: underline;
}

.handle {
  display: inline-flex;
  margin-right: 7px;
  cursor: ew-resize;
}

.handle .bar {
  background-color: #000;
  height: 12px;
  width: 1px;
}

.handle .bar + .bar {
  margin-left: 3px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
